extends layout

block content
    h1 Login
    form(action="" method='POST')
        div.form-group 
            label(for='username') Username: 
            input#username.form-control(type='text', name='username')
            label(for='password') Password: 
            input#password.form-control(type='password', name='password')
        button.btn.btn-primary(type='submit') Submit
    if errors 
        ul 
            for error in errors 
                li!= error.msg
    h2 Not Signed Up: 
    ul
        a(href='/signup') 
            li Sign Up
        a(href='/')
            li Sign in with Facebook
        a(href='/') 
            li Proceed as Guest